<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <title>Franny</title>
</head>

<body>
    <div class="container">
        <h1>blog articles</h1>
        <a href="/posts/new" class="btn btn-success">new post</a>

        <% posts.forEach(post=>{
            %>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> </h4>
                    <div class="card subtitle text-muted">
                        <%= post.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text">
                        <%= post.description %>
                    </div>
                    <div class="card-text">
                        <%= post.content %>
                    </div>
                    <div class="card-action">
                        <a href="/posts/<%= post.slug %>" class="btn btn-primary">Read More</a>
                        <form action="/posts/<%= post.id  %>?_method=DELETE" method="POST" class="d-inline">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>

                    </div>
                </div>

            </div>
            <% }) %>

    </div>
</body>

</html>